<h1 style="margin-top:30px;margin-bottom:30px;text-align:center">What is Blockchain?</h1>

<%= simple_form_for @quote do |f| %>
	<%= f.input :saying, label: "Enter your definition", placeholder: "Blockchain is..." %>
	<%= f.input :author, label: "Enter your name or pseudonym", placeholder: "Cyrus Clarke" %>
	<br/>
	<%= f.submit :Submit, class: 'btn sharp' %>

<% end %>