/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

h1 {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 600;
	letter-spacing: -1.5px;
}

h2 {
  	font-family: "Helvetica Neue", Helvetica, sans-serif;
  	font-weight: 200;
  	letter-spacing: -1.5px;

}


.clear {
	clear: both;
}

.slogan {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
	padding-top: 15px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.links {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	padding-top: 26px;
	padding-left:0px;
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.links a {
	font-family: "Helvetica Neue", Helvetica, sans-serif;	
	color: black;
	font-weight:bold;
	border-bottom: 3px solid yellow;

}

.links a:hover {
	background-color: yellow;
}

.logo{
	width: 10%; 
	margin-top:-10px;
	
}

@media (max-width: 750px) {
.logo {
	width: 30%;
	}

}

header {
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 0.75rem;
  padding: 0.01rem;
  background-color: yellow;
  text-align: center;
}

@media (max-width: 750px) {
.footer {
	display: none;
	}

}


.footer-text {
	font-size: 0.75rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	text-align: left;
}

.btn.sharp  {
	border-radius:0;
	background: none;
	border: 2px solid black;
	padding: 12px 22px;
	color:black;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
}

@media (max-width: 750px) {
.btn.sharp {
	margin-bottom: 40px;
	}

}


.btn.sharp:hover  {
	border: 2px solid yellow;
	background-color: yellow;
}

::selection {
  background-color: yellow;
}



/*.logo a {
	max-width: 10%;
}*/
 

 .w3-sidebar{
    height:100%;
    width:100px;
    background-color:#fff;
    position:fixed!important;
    z-index:1;
    overflow:auto;
}


 .w3-bar-block .w3-dropdown-hover,.w3-bar-block .w3-dropdown-click{
    width:100%
}
 .w3-bar-block .w3-dropdown-hover .w3-dropdown-content,.w3-bar-block .w3-dropdown-click .w3-dropdown-content{
    min-width:100%
}
 .w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{
    width:100%;
    text-align:left;
    padding:8px 16px
}

 .w3-animate-left{
    position:relative;
    animation:animateleft 0.4s
}
@keyframes animateleft{
    from{
        left:-300px;
        opacity:0
    }
     to{
        left:0;
        opacity:1
    }
}

.btn.menu  {
	border-radius:0;
	padding: 0;
	background: none;
	border: none;
	border-bottom: solid 2px yellow;
	color:black;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
}

.btn.menu:hover  {
	border: none;
	background-color: yellow;
	text-decoration: underline;

}

 .w3-bar .w3-bar-item{
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0
}
 .w3-bar .w3-dropdown-hover,.w3-bar .w3-dropdown-click{
    position:static;
    float:left
}
 .w3-bar .w3-button{
    white-space:normal
}
 .w3-bar-block .w3-bar-item{
    width:100%;
    display:block;
    padding:8px 16px;
    text-align:left;
    border:none;
    white-space:normal;
    float:none;
    outline:0;
    font-size: 20px;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
    color: white
}
 .w3-bar-block.w3-center .w3-bar-item{
    text-align:center
}
.w3-block{
    display:block;
    width:100%
}

 .menu-button:hover{
    color:#000!important;
    background-color:#FFFF00!important
}
